h1{
  border: 10px solid white;
  font-size: 100px
}

.title{
  display: flex;
  justify-content: center;
}

.images {
  height: 400px;
  width: 275px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* display: inline; */
  border: 5px solid white;
}

.images1 {
  height: 400px;
  width: 275px;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* display: inline; */
  border: 5px solid white;
}


/*#bottom1{
  margin-left: 20px;
  margin-right: 20px;
}
*/

#left-pic{
  margin-left: 20px;
}

#right-pic{
  margin-right: 20px;
}

.gallery {
  text-align: justify;
  justify-content: space-around;
  display:flex;
}
